@import '../style.css';

.btn{
    border: none;
    margin:0.5rem;
    box-shadow: rgba(25,25,25,.04) 0 0 1px 0,rgba(0,0,0,.1) 0 3px 4px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn:hover{
    cursor: pointer;
}

.text-decoration-none{
    text-decoration: none;
}

.btn-sm{
    padding:0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.btn-primary{
    background-color: var(--primary-bg);
    color: var(--white-color); 
    font-weight: 500;
}

.btn-primary:hover{
    text-shadow: 2px 2px 5px var(--darkred-color);
    background-color: var(--secondary-color);
}

.btn-link{
    color: var(--white-color);
    background-color: var(--secondary-color); 
    font-weight: 500;
    display: inline-block;
}

.btn-link:hover{
    text-shadow: 1px 1px 2px black, 0 0 25px var(--secondary-color), 0 0 5px var(--primary-bg);
}

.btn-icon{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.icon-btn-img{
    padding: 5px;
}

.btn-float{
    background-color: var(--darkred-color);
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 var(--shadow-color);
    transition: all 0.1s ease-in-out;
    color: var(--white-color);
    text-align: center;
    position:static;
}

.btn-float:hover {
    box-shadow: 0 6px 14px 0 var(--shadow-color);
    transform: scale(1.05);
 }