@import '../style.css';

.card-flex{
    display: flex;
    max-width:100%;
    flex-basis: auto;    
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.card-container{
    width: 250px;
    background-color: var(--white-color);
    height: max-content;
    margin:0.1rem;
    justify-content: center;
    position: relative;
    text-align: left;
    align-items: center;
}

.card-container .card-content-container{
    padding:5px;
}

.card-textoverlay-container{
    height:100%;
}

.card-img{
    object-fit: contain;
    height:60%;
    width:100%;
    padding:1.5rem;
    max-height: 12rem;
    min-height: 12rem;
}

.card-des{
    overflow: hidden;
    font-size: 0.6rem;
    text-overflow: ellipsis;
}

.price-div{
    display: flex;
    padding: 2px;
}

.price-lbl{
    font-weight: 500;
    padding: 2px;
    background-color: var(--white-color);
}

.price-wrong{
    text-decoration: line-through;
}

.price-right{
    color: var(--darkgreen-color);
    font-size: 1rem;
}

.star-rating{
    display: inline-flex;
    padding:0 5px;
    justify-content: center;
    align-items: center;
}

.star-rating label{
    background-color: var(--darkgreen-color);
    color: var(--white-color);
    padding:2px;
}

.star-rating p{
 margin-left:5px;  
}

.star-rating img{
    margin-left: 3px;
}

.flex-content{
    display: flex;
    flex-direction: row;
    width:100%;
    height: max-content;
    justify-content: space-around;
    margin: 5px 0;
}

.flex-content .sprice{
   margin-right: auto; 
   font-size: 1.5rem;
}

.card-btn-container{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap:5px;
}

.card-btn, .header-btn{
    border: none;
    outline: none;
    border-radius: 1rem;
    color: var(--black-color);
    font-weight:600;
}

.card-btn:hover{
    cursor: pointer;
    background-color: var(--linen-color);
    border:1px solid var(--lightred-color);
}

.card-btn-text{
    padding:2px 8px;
}

.card-btn-dismiss{
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    background-color: transparent;
}

.card-img-textoverlay{
    height:80%;
    object-fit: cover;
}

.card-textoverlay{
    color: var(--white-color);    
    background-color: var(--black-color);
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0.2rem;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-textoverlay:hover{
    opacity: 0.8;
}

.card-container:hover{
    box-shadow: rgba(25,25,25,.04) 0 0 1px 0,rgba(0,0,0,.1) 0 3px 4px 0;
}

.card-main-horizontal{
    width: 450px;
    height:max-content;
    background: var(--white-color);    
    align-items: center;
}

.card-main-horizontal:hover{
    box-shadow: rgba(25,25,25,.04) 0 0 1px 0,rgba(0,0,0,.1) 0 3px 4px 0; 
}

.card-container-horizontal{
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    height: 98%;
    width: 99%;
    margin: 0.2rem;
    padding: 5px;
}

.card-container-horizontal-img-heading{
    position: relative;
    display: flex;
    height: 80%;
}

.card-img-horizontal{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.card-desc-horizontal{
    display: flex;
    flex-direction: column;
    height:100%;
    width:55%;
    padding: 5px;
    justify-content: flex-end;
    text-align: left;
}

.card-desc-horizontal li{
    list-style: none;
}

.card-container-horizontal-img{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-self: flex-end;
}

.card-container-horizontal-img img{ 
    padding: 5px;
}