@import '../style.css';

.heading-lg{
    font-size: 2.5rem;
    padding:0.25rem 0;
}

.heading-md{
    font-size: 1.5rem;
    padding:0.25rem 0;
}

.text-md{
    font-size: 1.25rem;
    padding:0.25rem 0;
}

.text-sm{
    font-size: 1rem;
    padding:0.25rem 0;
}

.text-xs{
    font-size: 0.75rem;
    padding:0.25rem 0;
}

.text-xxs{
    font-size: 0.5rem;
    padding:2px 0;
}