@import url("https://selubre-ui.netlify.app/style.css");

/* .des{
    width:100%;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    align-items: center;
    height: max-content;
} */

.des-container{
    /* background-color:var(--linen-color); */
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
}