@import url("https://selubre-ui.netlify.app/style.css");

.cl-header{
    position: fixed;
    z-index:2;
}

.row{
    padding-top: 5rem;
}

.des-container{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
}