@import url("https://selubre-ui.netlify.app/style.css");
/* @import './style.css'; */

*{
    font-size: 1rem;
}

h3{
    font-size: 1rem;
    padding: 0.5rem;
    color: var(--darkgray-color);
}

.cl-header{
    position: fixed;
    z-index:2;
    font-family: 'Quintessential', cursive;
}

.row{
    padding-top: 5rem;
}

.right-container{
    background-color: var(--lightgray-color);
    text-align: center;
}

.right-container h2{
    font-size: 2rem;
    color: var(--primary-bg);
}

.des-container{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
}

.des-container iframe{
    background: var(--black-color);
    /* background-repeat: no-repeat;
    background-position: center;
    padding:2rem;
    border-radius:0.5rem; */
    /* width: 100%;
    height: 100%;
    border: 0;
    transform: scale(1);
    overflow: hidden; */
}