.avatar {
    border-radius: 50%;
}

.xs {
    height: 2rem;
    width: 2rem;
}

.sm {
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
}

.md {
    height: 4rem;
    width: 4rem;
}

.lg {
    height: 5rem;
    width: 5rem;
}

.xl {
    height: 6rem;
    width: 6rem;
}

.xxl {
    height: 8rem;
    width: 8rem;
}

/* .xs {
    height: 20px;
    width: 20px;
}

.sm {
    height: 30px;
    width: 30px;
    font-size: 20px;
}

.md {
    height: 40px;
    width: 40px;
}

.lg {
    height: 50px;
    width: 50px;
}

.xl {
    height: 60px;
    width: 60px;
}

.xxl {
    height: 80px;
    width: 80px;
} */