@import '../style.css';

.snackbar{
    display:none;
    flex-direction: column;
    position: fixed;
    color: var(--black-color);
    background-color: var(--lightgray-color);
    padding: 10px;
    width:20%;
    border-radius: 5px;
    top:10px;
    right: 10px;
    transform: translate3d(0, 100px, 0);
    transition: transform 0.3s ease-in-out;
}

/* .snackbar p{
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
} */

.snackbar-btn-div{
    margin-left: auto;
}

.snackbar-open{
    display: flex;
    transform: translate3d(0, 0, 0);
}