@import '../style.css';

.header-conatiner{
    width:100%;
    height:min-content;
    background-color: var(--secondary-color);
    color: var(--white-color);
    /* position: fixed; */
}

.header{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height:100%;
}

.header-title{
    color: var(--white-color);
    font-size: 2rem;
    padding: 0.8rem;
    font-weight: 400;
}

 .header-icon-conatiner{
    width:max-content;
    display: inline-flex;
    margin-left: auto;
    margin-right: 10px;
}

.vl {
    border-left: 2px solid var(--tertiary-color);
    height: 3rem;
    margin: 10px 0;
  }

.header-icon-sub-conatiner{
    padding: 7px;
    justify-content: center;
    align-content: center;
    margin-top: 5px;
}

.header-cart-conatiner{
    padding: 5px 10px;
}
